body {
  letter-spacing: 1px;
  font-family: 'Assistant','Assistant Semibold', 'Helvetica', 'Lucida Grande', sans-serif;
  background-color: #F8F8F8;

}


.first-section {
  background-color: #F8F8F8;
  color: white;
  height: 100vh;
  display: flex;
  background-image: url("first-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 12% 0px 12%;

  h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Assistant';
  }
  h3 {
    font-weight: 200;
    font-family: 'Assistant';
  }

  .first-section-content {
    display: flex;

    #logo {
      position: absolute;
      top: 8%;
      left: 12%;
      height: 20px;
      display: flex;
    }

    .language-setting {
      position: absolute;
      top: 6.5%;
      right: 12%;
      font-weight: lighter;
      h4 {
        font-weight: lighter;
        cursor: pointer;
      }
      .dropdown-menu-language {
        display: none;
      }
      .dropdown-item {
        color: white;
        padding-top: 7px;
        font-weight: normal;
        text-decoration: none;
      }
      .choice-not-selected {
        opacity: 0.6;
      }
    }

    .first-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //margin-left: 75px;

      a {
        color: white;
        text-decoration: none;
        cursor: default;
        &:hover {
          color: white;
          text-decoration: none;
          cursor: default;
        }
      }
      .form-contact {
        margin-left: -27px;
      }
    }

    .first-section-image {
      align-items:center;
      display: flex;
      margin: auto;
      margin-left: 50px;
      margin-right: 50px;

      img {
        width: 200px;
        height: 406px;
      }
    }
  }
}
.thank-you {
  display: none;
}

.second-section {
  background-image: url("back-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 12% 0px 12%;

  #discover, #user {
    cursor: pointer;
  }

  #arrow {
    width: 15px;
  }

  .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 50px;

    img {
      width: 75px;
    }

    p {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #9E9E9E;
    }

    span {
      font-size:14px;
      color:#9E9E9E;
    }

    #icon-trophee {
      color: #349EE4;
      font-size: 20px;
    }

    #icon-1 {
      color: #5640D0;
    }

    #icon-2 {
      color: #EC24A1;
    }
    #icon-3 {
      color: #1DCFA8;
    }
    #icon-4 {
      color: #40BCD0;
    }
    #trophee {
      width: 100px;
    }
    #icon-2-acc {
      color: #FD5D65;
    }
    #icon-3-acc {
      color: #349EE4;
    }
  }

  #trophee-section {
    margin-top: 100px;
  }
  .second-section-content {
    display: flex;
    justify-content: space-around;
    margin: 75px;
  }
}


.third-section {
  background-image: url("back-3-landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0px 12% 0px 12%;

  #right-iphone {
    margin-left: auto;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-weight: lighter;
    font-size: 18px;
  }

  .third-section-content {
    display: flex;
    margin: 75px auto;
    width: 100%;

    .third-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto 75px;
    }

    .third-section-image {
      display: flex;
      margin: auto 75px;

      img {
        width: 200px;
        height: 406px;
      }
    }
  }
}

.fourth-section {
  background-image: url("back-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #9842B4;
  font-weight: lighter;
  text-align: center;
  padding: 0px 12% 0px 12%;

  h2 {
    font-size: 36px;
  }
  h3 {
    margin-bottom: 30px;
  }
}
  // .form-email-beta{
  //   width: 700px;
  //   input {
  //     border: 1px solid lightgrey;
  //   }
  // }

  footer {
    display: flex;
    color: white;
    background-image: url("the-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: lighter;
    padding: 20px 50px;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    img {
      width: 50px;
      margin-left: 20px;
    }
  }

/* Input form email */

input {
  border-radius: 5px;
  padding: 5px;
  color: darkgrey;
  font-size: 15px;
  font-weight: lighter;
  border-width: 0px;
  width: 60%;
  text-align: center;
  margin-top: 50px;
}



/* form */

.transition{
  @include transition( all 0.25s cubic-bezier(.53,.01,.35,1.5))
}

form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 550px;
  box-sizing: border-box;
  padding: 30px 25px;
  border-radius: 20px;

  .question {
    position: relative;
    padding: 10px 0;

    &:first-of-type{
      padding-top: 0;
    }

    &:last-of-type{
      padding-bottom: 0;
    }
  }

  label{
    @extend .transition;
    transform-origin: left center;
    color: #AAAAAA;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px 25px;
    display: block;
    position: absolute;
    margin-top: -50px;
    z-index: 2;
    pointer-events: none;
  }

  input {
    @extend .transition;
    appearance: none;
    background-color: none;
    border: 1px solid white;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
      background: white;
      color: #898989;
      margin-top: 30px;
    }

    &:valid {
      margin-top: 30px;
    }

    &:focus ~ label {
      color: white;
      font-weight: 300;
      @include translate( 0 , -45px );
    }

    &:valid ~ label{}
  }
}

#form-bottom {
  border: 1px solid #898989;
  &:focus ~ label {
    color: #898989;
    font-weight: 300;
    @include translate( 0 , -45px );
  }
}

/* Responsive Mobile */


@media screen and (max-width: 650px) {

  html, body {
    overflow-x: hidden !important;
    width: 100%;
    margin: 0px;
    padding: 0;
    text-align: center;
  }

  .first-section {
    height: 100%;
    padding: 0px 0% 0px 0%;
    align-items:center;
    background-size: cover;
    min-height: 930px;

    .first-section-content {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 130px;
      align-items:center;

      #logo {
        position: absolute;
        top: 5%;
        left: 32%;
        height: 20px;
        display: flex;
        align-items:center;

      }

      .first-section-image {
        img {
          margin-right: 20px
        }
      }

      .language-setting {
        top: 9.5%;
        right: 39%;
      }

      .choice-not-selected {
        padding-right: 29px;
      }

      .first-section-text {
        margin-top: 30px;
        margin-bottom: 90px;
        margin-left: 30px;
        margin-right: 50px;
        h1 {
          font-size: 20px;
          margin-right: 0px;
        }
        h3 {
          font-size: 14px;
          margin-right: 32px;
        }
        input {
          margin: 20px 0;
          font-size: 11px;
          width: 96%;
        }
      }
    }
  }

  .second-section {
    height: 100%;
    margin-top: -35%;

    #trophee-section {
      margin-top: 140px;
    }
    .second-section-content {
      margin-top: 30px;
      flex-direction: column;
      align-items:center;
    }
  }

  .third-section {
    height: 100%;
    .third-section-content {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      align-items:center;

      #right-iphone {
        margin: auto 75px;
      }

      .third-section-text {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }


  .fourth-section {
    height: 100%;
    align-items:center;

    .bottom {
      width: 90%;
    }

    form {
      padding: 30px 49px 30px 7px !important;
    }
    .submit-button {
      border: 1px solid #898989;
      color: #898989;
      left: 280px;
      width: 16% !important;
      top: -16px;
    }
    h2 {
      font-size: 20px;
      margin-top: 65px;
    }
    h3 {
      font-size: 14px;
    }
  }

  footer {
    img {
      width: 30px;
      margin-bottom: 10px;
    }
  }



  .form-contact {
    padding-top: 10px;
    cursor: pointer;

    h4 {
      font-weight: lighter;
    }
  }

  .fa-chevron-down {
    margin-left: 12px;
  }

  .form-contact {
    margin-left: -6px !important;
    form {
      min-width: 325px;
      padding: 30px 35px 30px 17px;
      label {
        padding: 14px 10px;
        font-size: 11px;
        margin-top: -59px;
      }
    }
  }

  #form-bottom {
    margin-top: 0px;
  }
  #label-bottom{
    padding: 29px 12px;
  }

  .question {
    position: relative;
  }

  .submit-button {
    display: block !important;
    background: transparent;
    margin-top: 20px !important;
    font-size: 11px;
    left: 270px;
    display: none;
    position: absolute;
    top: -19px;
    width: 20%;
    height: 34px;
    width: 13% !important;
    transform: rotate(-90deg);
    font-size: 15px;
  }


}
