body {
  letter-spacing: 1px;
  /* assistant-regular - latin */

/*
  @font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: url('../assistant-v2-latin-regular.eot');
    src: local('Assistant'), local('Assistant-Regular'),
         url('../assistant-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../assistant-v2-latin-regular.woff2') format('woff2'),
         url('../assistant-v2-latin-regular.woff') format('woff'),
         url('../assistant-v2-latin-regular.ttf') format('truetype'),
         url('../assistant-v2-latin-regular.svg#Assistant') format('svg');
}
end google font code*/
}

.body {
  background-color: #F8F8F8;
  font-family: Assistant, ‘Helvetica’, ‘Lucida Grande’, sans-serif;
}

.first-section {
  background-color: #F8F8F8;
  color: white;
  height: 100vh;
  display: flex;
  background-image: url("first-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Assistant';
  }
  h3 {
    font-weight: normal;
    font-family: 'Assistant';
  }

  .first-section-content {
    display: flex;

    #logo {
      position: absolute;
      top: 30px;
      left: 50px;
      height: 30px;
      display: flex;
    }


    .first-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 75px;

      a {
        color: white;
        text-decoration: none;
        cursor: default;
        &:hover {
          color: white;
          text-decoration: none;
          cursor: default;
        }
      }
    }

    .first-section-image {
      display: flex;
      margin: auto;
      margin-left: 50px;
      margin-right: 50px;

      img {
        width: 200px;
        height: 406px;
      }
    }
  }
}

.second-section {
  background-image: url("back-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7%;
  display: flex;
  align-items: center;
  flex-direction: column;

  #discover, #user {
    cursor: pointer;
  }

  #arrow {
    width: 15px;
  }

  .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 50px;

    img {
      width: 75px;
    }

    p {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #9E9E9E;
    }

    span {
      font-size:14px;
      color:#9E9E9E;
    }

    #icon-trophee {
      color: #349EE4;
      font-size: 20px;
    }

    #icon-1 {
      color: #5640D0;
    }

    #icon-2 {
      color: #EC24A1;
    }
    #icon-3 {
      color: #1DCFA8;
    }
    #icon-4 {
      color: #40BCD0;
    }
    #trophee {
      width: 100px;
    }
    #icon-2-acc {
      color: #FD5D65;
    }
    #icon-3-acc {
      color: #349EE4;
    }
  }

  #trophee-section {
    margin-top: 100px;
  }
  .second-section-content {
    display: flex;
    justify-content: space-around;
    margin: 75px;
  }
}


.third-section {
  background-image: url("back-3-landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  #right-iphone {
    margin-left: auto;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-weight: lighter;
    font-size: 18px;
  }

  .third-section-content {
    display: flex;
    margin: 75px auto;
    width: 100%;

    .third-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto 75px;
    }

    .third-section-image {
      display: flex;
      margin: auto 75px;

      img {
        width: 200px;
        height: 406px;
      }
    }
  }
}

.fourth-section {
  background-image: url("back-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #9842B4;
  font-weight: lighter;
  text-align: center;

  h2 {
    font-size: 36px;
  }
  h3 {
    margin-bottom: 30px;
  }
  .bottom {
    width: 700px;
    input {
      border: 1px solid lightgrey;
    }
  }
}

footer {
  display: flex;
  color: white;
  background-image: url("the-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: lighter;
  padding: 20px 50px;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;

  img {
    width: 50px;
    margin-left: 20px;
  }
}

/* Input form email */

input {
  border-radius: 5px;
  padding: 5px;
  color: darkgrey;
  font-size: 15px;
  font-weight: lighter;
  border-width: 0px;
  width: 60%;
  text-align: center;
  margin-top: 50px;
}


/* Responsive Mobile */


@media screen and (max-width: 500px) {

  html, body {
    overflow-x: hidden !important;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .first-section {
    height: 100%;
    .first-section-content {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 90px;
      .first-section-text {
        margin-top: 30px;
        margin-bottom: 90px;
        margin-left: 50px;
        margin-right: 50px;
        h1 {
          font-size: 20px;
        }
        h3 {
          font-size: 14px;
        }
        input {
          margin: 20px 0;
          margin-bottom: 50px;
          font-size: 11px;
          width: 90%;
        }
      }
    }
  }

  .second-section {
    height: 100%;
    margin-top: -35%;

    #trophee-section {
      margin-top: 140px;
    }
    .second-section-content {
      margin-top: 30px;
      flex-direction: column;
    }
  }

  .third-section {
    height: 100%;
    .third-section-content {
      display: flex;
      flex-direction: column;
      font-size: 20px;

      #right-iphone {
        margin: auto 75px;
      }

      .third-section-text {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
  }


  .fourth-section {
    height: 100%;

    .bottom {
      width: 90%;
    }
    h2 {
      font-size: 20px;
      margin-top: 65px;
    }
    h3 {
      font-size: 14px;
    }
  }

  footer {
    img {
      width: 30px;
      margin-bottom: 10px;
    }
  }
}


#anchor-home {
  padding-top: 10px;
  cursor: pointer;

  h4 {
    font-weight: lighter;
  }
}

.fa-chevron-down {
  margin-left: 12px;
}
